.GlobalCSS {
  ::-webkit-scrollbar {
    width: 6px; /* Width of the scrollbar */
    border-radius: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb {
    display: none;
    background-color: #c4c2c2;
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #697586;
  }
  ::-webkit-scrollbar-corner {
    display: none;
  }
}
